
/************** BOOKS LIST *********************/
@media (max-width:1100px){
    .books-of-the-day {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 80%;

    }
    .left-menu {
        width: 15%;
    }
    .menu a{
        font-size: 1.6rem;
    } 
    .home-book {
        width: 20rem;
        height: 30rem;
    }
    .home-book:nth-last-child(-n+3){
        display: none;
    }

}
@media (max-width:750px) {
    .home-container {
        gap:2rem;
    }
    .books-of-the-day{
        grid-template-columns: repeat(2,1fr);
       
    }
    .home-book {
        width: 20rem;
        justify-self: start;
    }
    .left-menu {
        width: 25%;
    }
    .home-book:nth-last-child(-n+4) {
        display: none;
    }
    .menu h3 {
        font-size: 1.5rem;
        padding: 1rem 0rem;
    }
    .search-box {
        padding: 10rem 0rem 3rem 0rem;
    }
    .home-search ,
    .home-submit {
        height: 3rem;
    }
    .home-search {
        width: 30rem;
    }
    .home-book h3,
    .menu a,
    .pagination  {
        font-size: 1.4rem;
    }
   
}
@media (max-width:550px) {
   
    .left-menu {
        display: none;
    }
    .books-of-the-day {
        margin: auto;
        column-gap:2.5rem;
        row-gap: 4.5rem;
    }
    .home-book:nth-last-child(-n+4) {
        display: grid;
        margin-bottom: 4rem;
    }
    .home-book {
        width: 95%;
        height: 27rem;
    }
    .home-search {
        width: 30rem;
    }
}
@media (max-width:400px) {
    .home-container {
        flex-direction: column;
    }
    .left-menu {
        display: inline;
        width: 90%;
        margin: auto;
    }
     .menu li {
        display: none;
        position: relative;
    } 
    .search-box {
        padding: 8rem 0rem 1rem 0rem;
        padding-right: 2rem;
    }
    .home-search {
        width: 40%;
        font-size: 1.2rem;
        height: 3rem;
    }
    .home-submit {
        width: 15%;
        font-size: 1.2rem;
        height: 3rem;
    }
    .books-of-the-day {
        grid-template-columns: 1fr;
    }
    .home-book h3 {
        margin-bottom: 5rem;
        font-size: 1.8rem;
    }
    .home-book {
        height: fit-content;
    }
}
/************** BOOKS LIST END ******************/

/************** SIGN IN/UP START ********************/
@media (max-width:1400px) {
    .sign-up-quote,
    .sign-in-quote{
        width: 65%;
    }
}
@media (max-width:1050px) {
    .sign-in-wrapper,
    .sign-up-wrapper {
        justify-content: space-between;
        gap:2rem;
        padding: 15rem 10rem;
    }
    
    .sign-up-quote,
    .sign-in-quote {
        font-size: 2.5em;
    }
    .sign-in {
        justify-content: end;
    }
    
}
@media (max-width:950px) {
    .sign-up-quote,
    .sign-in-quote {
        font-size: 2em;
        width: 40%;
    }
}

@media (max-width:900px) {
    .sign-up-quote,
    .sign-in-quote {
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
    }
    .sign-in-form,
    .sign-up-form {
        align-self: center;
        width: 100%;
    }
    .sign-in-wrapper,
    .sign-up-wrapper {
        flex-direction: column;
    }
}
@media (max-width:750px) {
    .sign-up-quote,
    .sign-in-quote {
        font-size: 1rem;
    }

    .input  {
        padding: 1rem 0rem;
    }
   
}
@media (max-width:550px) {
    .sign-up-quote,
    .sign-in-quote {
        display: none;
    }
    .sign-in-wrapper,
    .sign-up-wrapper {
        padding: 15rem 5rem 10rem 5rem;
    }
    .sign-in-form,
    .sign-up-form {
        width: 100%;
    }
    .sign-up,
    .sign-in {
        padding: 2rem 2rem 3rem 2rem;
    }
   
}
/************** SIGN IN/UP END  ******************/

/********************************************************/
/******************** HOMEPAGE START ********************/
/*********************************************************/


/******************* Kategorite start *******************/
@media (max-width:1000px) {
    .kategorite {
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
    }
}
@media (max-width:850px) {
    .kategorite {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:630px) {
    .kategorite {
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width:500px){
    .second-component h1 {
        font-size:3.4rem;
    }
   
}
@media (max-width:400px){
    .kategorite {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
  
    .second-component h1 {
        font-size: 3rem;
    }  
}

/******************* Kategorite End **************************/

/******************* Pricing Offers Start *********************/
@media (max-width:1100px) {
    .component-offers {
        flex-wrap: wrap;
        gap:5rem
    }
}
@media (max-width:1090px){
    .component-offers {
        flex: 0 0 1;
    }
    .second-offer {
        width: 30rem;
        height: 55rem;
    }
   .second-offer button {
        padding: 1rem 3rem;;
   }
}
/******************* Pricing Offers End ***********************/



/****************** First Component Start **********************/
@media (max-width:850px) {
    .first-component {
        flex-direction: column-reverse;
        gap:2rem;
        align-items: center;
        width: 100%;
    }
    .component-img {
        width: 80%;
    }
    .component-text {
        max-width: 100%;
        margin-bottom: 5rem;
        text-justify:unset;
    }
    .component-text h1 {
        text-align: center;
    }
    .component-text p {
        margin-top: 1rem;
    }
}
@media (max-width:500px) {
    .component-text h1 {
        font-size: 3.5rem;
    }
}


/****************** First Component End ************************/

/****************** Testimonial Start **************************/
@media (max-width:1090px) {
    .testimonial-content {
        padding:2rem;
    }
}
@media (max-width:995px) {
    .testimonial-conten h1 {
        font-size: 3rem;
    }
    .testimonial-conten p {
        font-size: 1.4rem;
    }
    .testimonial-image img {
        width: unset;
    }
    .arrow {
        margin: 0px;
    }
    .quote-icon {
        width: 10rem;
    }
}
@media (max-width:830px) {
    .testimonial-wrapper {
        flex-direction: column;
    }

    .testimonial-image {
        background-color: unset;
        text-align: center;
        position: relative;
    }
    .testimonial-image img {
        border-radius: 0px;
        width: 95%;
        height: 10%;
        position: relative;
        border-radius: 60px 0 0 0;

    }
    .testimonial-content {
        border: none;
        width: 95%;
        margin: 0 auto;
        border-radius: 0 0 60px 0;
    }
    .arrow-container {
        justify-content: center;
    }

@media (max-width:500px) {
    .testimonial-content h1 {
        font-size: 3rem;
    }
    .testimonial-container h1:first-child {
        font-size: 3.4rem;
    }
}
}
/****************** Testimonial End ****************************/

/******************* Hero Section  Start ************************/
@media (max-width:1200px) {
    .img-wrapper {
        background-position: center;
    }
}
@media (max-width:800px) {
    .text h1 {
        font-size: 5rem;
    }
    .text h2 {
        width: 80%;
        font-size: 1.5rem;
    }
    .img-wrapper {
        padding: 0.4rem 0 10rem 0;
    }
}


@media (max-width:600px) {
    .text h1 {
        font-size: 4rem;
    }
    .text p {
        line-height: 1.3;
        width: 90%;
    }
}
@media (max-width:400px) {
    .text p {
        font-size: 1.4rem;
    }
}
/******************* Hero Section End ***************************/
/******************* FOOTER START *******************************/
@media (max-width:950px) {
    .subscribe {
        width: 15%;
    }
    .footer-info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-logo, .footer-menu, .footer-follow {
        border: none;
    }
    .subsrcibe {
        margin: 2rem auto ;
    }
}
/******************* FOOTER END *********************************/
/******************* NAVBAR STYLING ******************************/
@media (max-width:1050px) {
    body {
       overflow-x:hidden ; 
    }
    .logo-part {
      margin-right: auto;
      padding: 0.5rem 0;
      z-index: 999;
    }
    .f-nav {
      position: fixed;
      top: 0px;
      right: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: rgba(0,0,0,0.92);
      backdrop-filter: blur(20px);
     transform: translateX(100%);  
     transition: transform 0.3s ease-out;
  
    }
    .f-nav li,
    .f-nav button {
      opacity: 0;
    }
    .unordered-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 50vh;
      font-size: 2rem;
    }
    .unordered-list li:last-child{
      margin: 0;
      justify-content: center;
    }
    .unordered-list a:hover,
    .unordered-list li:hover{
      color: #03c6ae;
    }
    .menu-js {
      display: block;
      z-index: 10;
    }
   .dropdown-menu {
     opacity: 0;
   }
   .nav-buttons li {
     font-size: 2rem;
     padding: 1rem 4rem;
   }
  
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  
  @keyframes navLinkFade{
    from {
          opacity: 0;
          transform: translateX(50px);
    }
    to {
          opacity: 1;
          transform: translateX(0px);
  
    }
  
  }
  
  

  /************** BOOK CONTENT *************************/
  @media (max-width:1000px) {

    .book-img img {
        width: 80%;
        height: 100%;
        text-align: center;
      }
      .book-btns{
      flex-wrap: wrap;
    justify-content: center;
      }
  }
  @media (max-width:800px) {
    .book-img img{
        width: 100%;
    }
      .book-content {
          flex-direction: column;
          align-items: center;
      }
      .book-data {
          text-align: center;
      }
      .book-data p {
          margin-top: 0.8rem;
      }
      .book-description p {
        text-align: justify;
      }
  }